[Unit]
Description=Grafana
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill grafana%i
ExecStartPre=-/usr/bin/docker rm grafana%i
ExecStartPre=/usr/bin/docker pull samgiles/grafana
ExecStart=/usr/bin/docker run --name grafana%i -p 8000:80 samgiles/grafana /usr/sbin/apachectl -D FOREGROUND
ExecStop=/usr/bin/docker stop grafana%i

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=grafana*
